body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#image {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  text-align: center;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
