#image {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  margin: 0;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
